<!DOCTYPE html>
<html>
<head>
    <title><%= restaurant.name %></title>
</head>

<body>
<h1>Details of <%= restaurant.name %></h1>
<a href="/">Index</a><br>
    <form id='details' method='GET' action='/edit'>
        <input type="hidden" name="_id" value="<%= restaurant._id %>">
        <input type="hidden" name="creator" value="<%= restaurant.creator %>">
        <input type="hidden" name="lat" value="<%= restaurant.address.coord[0] %>">
        <input type="hidden" name="lng" value="<%= restaurant.address.coord[1] %>">
        Name: <input type="text" name="name" value="<%= restaurant.name %>" readonly><br>
        <% if(restaurant.borough!==undefined && restaurant.borough!==null){ %>
            Borough: <input type="text" name="borough" value="<%= restaurant.borough %>" readonly><br>
        <% } else{ %>
            Borough: <input type="text" name="borough" value="N/A" readonly><br>
        <% } %>
        <% if(restaurant.cuisine!==undefined && restaurant.cuisine!==null){ %>
            Cuisine: <input type="text" name="cuisine" value="<%= restaurant.cuisine %>" readonly><br>
        <% } else{ %>
            Cuisine: <input type="text" name="cuisine" value="N/A" readonly><br>
        <% } %>
        <% if(restaurant.address.building !== undefined && restaurant.address.street !== undefined && restaurant.address.zipcode !== undefined){ %>
            Address:<br>
            <% if(restaurant.address.building!==undefined &&restaurant.address.building!==null){ %>
                <input type="text" name="building" value="<%= restaurant.address.building %>" readonly><br>
            <% } %>
            <% if(restaurant.address.street!==undefined&&restaurant.address.street!==null){ %>
                <input type="text" name="street" value="<%= restaurant.address.street %>" readonly><br>
            <% } %>
            <% if(restaurant.address.zipcode!==undefined&&restaurant.address.zipcode!==null){ %>
                <input type="text" name="zipcode" value="<%= restaurant.address.zipcode %>" readonly><br>
            <% } %>
        <% } %>
    </form>
<% if(restaurant.mimetype!==undefined && restaurant.mimetype!==null && restaurant.image!==undefined && restaurant.image!==null){ %>
    <img src="data: <%= restaurant.mimetype %>;base64,<%= restaurant.image %>" width="600px" alt="base64 test">
<% } %>
<div id="map" style="width:500px;height:500px;"></div>
<!--user rating-->
<div>
    <% if(!rated){ %>
    <form id='rate' method='POST' action='/rate'>
        <input type="hidden" name="_id" value="<%= restaurant._id %>">
        <select name="score" style="float:left;">
            <% for(var i=1;i<=10;i++){ %>
            <option value="<%=i %>"><%=i %></option>
            <% } %>
        </select>
    </form>
    <button type="submit" form="rate"  value="Rate now" style="float:left;">Rate now</button><br>
    <div class="clear"></div>
    <% } else{ %>
    You rate this restaurant <%= score %> marks.
    <% }%>
</div>

<% if(restaurant.creator==user){ %>
    <form id='delete' method='POST' action='/delete'>
    <input type="hidden" name="_id" value="<%= restaurant._id %>">
    </form>
    <button type="submit" form="details" value="Edit">Edit</button>
    <button type="submit" form="delete"  value="Delete">Delete</button><br>
<% } %>
<button onclick="goBack()">Back to previous page</button>
</body>
</html>